.title-subtitle-holder {
  text-align: center;
}

.title-subtitle-holder h1 {
  margin-top: 50px;
  color: #c74c61;
  font-size: 47px;
  line-height: 60px;
  text-transform: none;
}

.separator {
  background: #f3b8c2;
  margin-bottom: 10px;
  margin-top: 14px;
  margin: 10px auto 20px;
  display: block;
  width: 22px;
  height: 2px;
  position: relative;
}

.breadcrumbs {
  color: #c74c61;
  text-align: center;
}

.breadcrumbs a {
  text-decoration: none;
  cursor: pointer;
  color: #c74c61;
}

.text-apresentacao {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 1300;
}

.elementor-text {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

.inputs {
  margin-left: 150px;
  margin-top: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 700px);
  grid-template-rows: repeat(1, 20px);
}

.inputs a {
  color: #c74c61;
  cursor: pointer;
  font-size: 20px;
  line-height: 60px;
  text-transform: none;
  text-decoration: none;
}

.container {
  margin-top: 50px;
}

.card-img {
  height: auto;
  width: auto;
  max-width: 240px !important;
  max-height: 310px !important;
  overflow: hidden;
  margin: 25px;
}

.small-img {
  height: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
}

.small-img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#modal-img {
  width: 65vw;
  transform: scale(0);
  transition: all linear 0.3s;
}

.modal-active #modal-img {
  transform: scale(1);
}

.modal {
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bt-close {
  color: #fff;
  background-color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 25px;
  border: solid 1px #fff;
  transition: all ease-out 0.4s;
  cursor: pointer;
}

#bt-close:hover {
  background-color: #f00;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.orcamento {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c74c61;
  width: 200px;
  height: 50px;
  margin-left: 484px;
  border-radius: 5px;
}

.orcamento a {
  text-decoration: none;
  color: white;
}

.background {
  margin-top: 100px;
  background: #ee9eac;
  height: 530px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ver-mais {
  background-color: #f8f8f8;
  margin-top: 50px;
}

.conteudo h6 {
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  margin-top: 130px;
  color: #c74c61;
  width: 50%;
  margin-left: 140px;
}

.img-conteudo img {
  width: 373.52px;
  overflow: hidden;
  padding-top: 20px;
  margin-left: 200px;
}

.title-subtitle-holder h2 {
  margin-top: 50px;
  color: #c74c61;
  font-size: 50px;
  line-height: 55px;
  font-weight: 400;
  text-transform: none;
}

.card-veja {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center1 {
  margin-top: 203px;
}

.title-subtitle-holder h4 {
  margin-top: 50px;
  padding-bottom: 100px;
  color: #c74c61;
  font-size: 42px;
  line-height: 55px;
  font-weight: 400;
  text-transform: none;
}

.elemento-container {
  text-align: center;
}

.img-container img {
  width: 50%;
}

.text-container h6 {
  color: #c74c61;
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}

.veja-mais span {
  background-color: #c74c61;
  display: inline-block;
  line-height: 1;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  color: white;
  fill: white;
  text-align: center;
  text-decoration: none;
}

.margin {
  margin-top: 10px;
}

@media (max-width: 980px) {
  .orcamento {
    margin-left: 354px;
  }
}

@media (max-width: 428px) {
  .container-grid {
    width: 100%;
  }
  nav {
    width: 40%;
  }
  .inputs {
    margin-left:-79px;
    grid-template-columns: repeat(0);
    grid-template-rows: repeat(0);
  }

  .text-apresentacao {
    display: inherit;
  }

  .orcamento {
    margin-left: 90px;
  }

  .background {
    height: 740px;
  }
  .conteudo {
    display: inherit;
    grid-template-columns: none;
  }

  .img-conteudo img {
    margin-left: 0px;
  }

  .conteudo h6 {
    margin-top: 20px;
    margin-left: 5px;
    width: 100%;

  }

  .card-veja {
    flex-direction: column;
  }

  .title-subtitle-holder h4{
    position: absolute;
    margin-top: -370px;
    padding-left: 50px;
  }

  .center1 {
    margin-top: 70px;
  }
  .img-container img {
    padding-top: 40px;
  }
}

@media (max-width: 390px) {
 .title-subtitle-holder h1{
   font-size: 40px;
 }

.title-subtitle-holder h2 {
  font-size: 35px;
}

 .inputs {
   display: none;
   
 }
 .img-conteudo img {
   width: 320.52px;
   margin-left: 20px;
 }
 

}
